{% extends "base.twig" %}

{% block content %}
	<div class="row row-cols-1 row-cols-md-3">
		{% for post in posts %}
			<div class="col mb-4">
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			</div>
		{% endfor %}
	</div>

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
